@import "bootstrap/dist/css/bootstrap.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


.fs-7 {
  font-size: .9rem;
}
.btn-primary {
  border: none;
  background: #6246ea;
  --bs-btn-hover-bg: #462dc6;
  --bs-btn-active-bg: #462dc6;
}
.btn-outline-primary {
  --bs-btn-border-color: #6246ea;
  --bs-btn-color: #6246ea;
  --bs-btn-hover-bg: #6246ea;
  --bs-btn-hover-border-color: #6246ea;
  --bs-btn-hover-bg: #6246ea;
  --bs-btn-active-border-color: #6246ea;
  --bs-btn-active-bg: #6246ea;
}
.btn-outline-secondary {
  --bs-btn-border-color: #d1d1e9;
  --bs-btn-color: #d1d1e9;
  --bs-btn-hover-bg: #d1d1e9;
  --bs-btn-hover-color: #6246ea;
  --bs-btn-hover-border-color: #d1d1e9;
  --bs-btn-hover-bg: #d1d1e9;
  --bs-btn-active-border-color: #d1d1e9;
  --bs-btn-active-color: #6246ea;
  --bs-btn-active-bg: #d1d1e9;
}
.btn-danger {
  border: none;
  background: #e45858;
  --bs-btn--hover-bg: #c83f3c;
  --bs-btn-active-bg: #c83f3c;
}
.btn-outline-danger:disabled {
  --bs-btn-border-color: #e45858;
  --bs-btn-color: #e45858;
}

.text-danger {
color: #e45858 !important;
}

.alert-danger {
  --bs-alert-bg: #e45858;
  --bs-alert-color: #fffffe
}

.subir {
  border-radius: 50%;
}

.articulo__imgContainer {
  text-align: end;
  position: relative;
  min-height: 37vh;
}
.articulo__imgContainer::after {
  content: "";
  width: 65%;
  height: 37vh;
  background-color: #6246ea;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: -5 ;
}

.articulo:nth-child(2n+2) {
  flex-direction: row-reverse;
}
.articulo:nth-child(2n+2) .articulo__imgContainer {
  text-align: start;
}
.articulo:nth-child(2n+2) .articulo__imgContainer::after {
  left: 1rem;
}

.articulo__img {
  object-fit: cover;
  width: 65%;
  height: 37vh;
}

.pagFormularios {
  min-height: 80vh;
}
.pagFormularios__form {
  background: #6246ea;
  color: #fffffe;
  width: 30%;
  border-radius: 5px;
}
.formInput {
  background: #6246ea;
  color: #fffffe;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
}
.formInput:focus {
  background: #6246ea;
  border-bottom: 1px solid black ;
  box-shadow: none;
}

/* Navbar */

#logo {
  width: 4vw;
}

/* Pagina articulo individual */

#art__imgContainer {
  height: 30vh;
}
.art__img {
  object-fit: cover;
}
.art__p {
  text-align: justify;
}


.formAgregar__titulo {
  height: 10%;
  margin-bottom: 1%;
}
.formAgregar__quill {
  height: 90.4%;
}


@media (max-width: 768px) {
  #logo {
    width: 10vw;
  }
  
  .pagFormularios__form {
    width: 80%;
    height: 50vh;
  }
  .articulo__imgContainer {
    margin-top: 1rem;
    text-align: center;
    min-height: 37vh;
  }
  .articulo__img {
    width: 100%;
    height: 37vh;
  }
  .articulo__imgContainer::after {
    background-color: #6246ea00;
  }
  .articulo:nth-child(2n+2) .articulo__imgContainer {
    text-align: center;
  }
  .articulo:nth-child(2n+2) {
    flex-direction: row;
  }

}
