@import "bootstrap/dist/css/bootstrap.css";

.subir {
  border-radius: 50%;
}

.articulo__imgContainer {
  text-align: end;
  position: relative;
}
.articulo__imgContainer::after {
  content: "";
  width: 65%;
  height: 37vh;
  background-color: aquamarine;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: -5 ;
}

.articulo:nth-child(2n+2) {
  flex-direction: row-reverse;
}
.articulo:nth-child(2n+2) .articulo__imgContainer {
  text-align: start;
}
.articulo:nth-child(2n+2) .articulo__imgContainer::after {
  left: 1rem;
}

.articulo__img {
  object-fit: cover;
  width: 65%;
  height: 37vh;
}