@import "bootstrap/dist/css/bootstrap.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Bootstrap */
.fs-7 {
  font-size: 0.9rem;
}
.text-primary {
  color: #6246ea !important;
}
.text-danger {
  color: #ea5c46 !important;
}
.bg-primary {
  background: #6246ea !important;
}
.btn-primary {
  border: none;
  background: #6246ea;
  --bs-btn-hover-bg: #462dc6;
  --bs-btn-active-bg: #462dc6;
}
.btn-outline-primary {
  --bs-btn-border-color: #6246ea;
  --bs-btn-color: #6246ea;
  --bs-btn-hover-bg: #6246ea;
  --bs-btn-hover-border-color: #6246ea;
  --bs-btn-hover-bg: #6246ea;
  --bs-btn-active-border-color: #6246ea;
  --bs-btn-active-bg: #6246ea;
}
.btn-outline-secondary {
  --bs-btn-border-color: #d1d1e9;
  --bs-btn-color: #d1d1e9;
  --bs-btn-hover-bg: #d1d1e9;
  --bs-btn-hover-color: #6246ea;
  --bs-btn-hover-border-color: #d1d1e9;
  --bs-btn-hover-bg: #d1d1e9;
  --bs-btn-active-border-color: #d1d1e9;
  --bs-btn-active-color: #6246ea;
  --bs-btn-active-bg: #d1d1e9;
}
.btn-danger {
  border: none;
  background: #ea5c46;
  --bs-btn-hover-bg: #ce441a;
  --bs-btn-active-bg: #ce441a;
}
.btn-outline-danger:disabled {
  --bs-btn-border-color: #ea5c46;
  --bs-btn-color: #ea5c46;
}

.text-danger {
  color: #ea5c46 !important;
}

.alert-danger {
  --bs-alert-bg: #ea5c46;
  --bs-alert-color: #fffffe;
}

/* Navbar */
#logo {
  width: 4vw;
}
.dropdown-menu  {
  padding: .25rem;
  --bs-dropdown-link-active-bg: #6246ea;
}
 
.subir {
  border-radius: 50%;
}

/* Pagina principal */
.pagPrincipal {
  flex-grow: 1;
  margin-top: 2rem;
}
.pagPrincipal__titulo {
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 4rem;
}
.pagPrincipal__titulo::before {
  margin-right: 2.5rem;
  content: " ";
  display: inline-block;
  background: #6246ea;
  width: 16.5rem;
  height: 2px;
  vertical-align: middle;
}
.pagPrincipal__titulo::after {
  margin-left: 2.5rem;
  content: " ";
  display: inline-block;
  background: #6246ea;
  width: 16.5rem;
  height: 2px;
  vertical-align: middle;
}
.pagPrincipal__cargando{
  text-align: center;
}
.pagPrincipal__cargando h1{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.pagPrincipal__texto {
  font-size: 3rem;
  text-align: center;
}

.articulo:nth-child(2n + 2) {
  flex-direction: row-reverse;
}
.articulo:nth-child(2n + 2) .articulo__imgContainer {
  text-align: start;
}
.articulo:nth-child(2n + 2) .articulo__imgContainer::after {
  left: 1rem;
}
.articulo__imgContainer {
  text-align: end;
  position: relative;
  min-height: 37vh;
}
.articulo__imgContainer::after {
  content: "";
  width: 90%;
  height: 37vh;
  background-color: #6246ea;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: -5;
}
.articulo__img {
  object-fit: cover;
  width: 90%;
  height: 37vh;
}

/* Pag articulo */
.pagArt__user {
  width: 50%;
}
.modal__icono {
  font-size: 4rem;
}
.art__p--placeholder {
  margin-top: 2rem;
  height: 40vh;
}
.art__user--placeholder {
  margin-top: 1.5rem;
  height: 10vh;
}
.art__titulo--placeholder {
  margin-top: 3rem;
  height: 5vh;
}

.artRec__titulo--placeholder {
  height: 10vh;
  margin-bottom: 1rem;
}
.artRec__div--placeholder {
  height: 60vh;
}

/* Pagina login/registro */
.pagFormularios {
  min-height: 80vh;
  background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
  background-size: cover;
}
.pagFormularios__icono {
  font-size: 4rem;
}
.pagFormularios__form {
  background: #6246ea;
  color: #fffffe;
  width: 25%;
  border-radius: 5px;
}
.formInput {
  background: #5a3de2;
  color: #fffffe;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
}
.formInput:focus {
  background: #5134da;
  border-bottom: 1px solid black;
  box-shadow: none;
}

/* Pagina articulo individual */
#art__imgContainer {
  height: 30vh;
}
.art__img {
  object-fit: cover;
}
.art__p {
  text-align: justify;
}
p img {
  width: 100%;
  object-fit: contain;
}

/* Pagina agregarArticulo */

.formAgregar__titulo {
  height: 10%;
}
.formAgregar__quill {
  height: 88%;
}
.quill {
  height: 100%;
}
.ql-toolbar {
  height: 20%;
}
.ql-container {
  height: 80% !important;
}

/* Footer */
.footer {
  width: 100%;
}
/* Responsive dispositivos md */
@media (min-width: 768px) and (max-width: 992px) {
  /* Navbar */
  #logo {
    width: 6vw;
  }
  .subir {
    border-radius: 10px;
    width: 10%;
  }

  /* Pagina principal */
  .pagPrincipal__titulo::before {
    margin-right: 1.5rem;
    width: 10rem;
  }
  .pagPrincipal__titulo::after {
    margin-left: 1.5rem;
    width: 10rem;
  }

  /* Pagina login/registro  */
  .pagFormularios__form {
    width: 65%;
  }

  /* Pagina articulo individual */
  .pagArt__user {
    width: 90%;
  }
  .formAgregar__quill {
    height: 25vh;
  }
}

/* Responsive dispositivos sm */
@media (max-width: 767px) {
  /* Navbar */
  #logo {
    width: 10vw;
  }
  .subir {
    border-radius: 10px;
    width: 20%;
  }

  /* Pagina principal */
  .pagPrincipal__titulo::before {
    display: block;
    
    width: 100%;
  }
  .pagPrincipal__titulo::after {
    display: block;
    margin: 1rem auto;
    width: 50%;
  }
  .articulo {
    flex-direction: column-reverse;
  }
  .pagFormularios__form {
    width: 80%;
  }
  .articulo__imgContainer {
    text-align: center;
    min-height: 37vh;
  }
  .articulo__img {
    width: 100%;
    height: 37vh;
  }
  .articulo__imgContainer::after {
    background-color: #6246ea00;
  }
  .articulo:nth-child(2n + 2) .articulo__imgContainer {
    text-align: center;
  }
  .articulo:nth-child(2n + 2) {
    flex-direction: column-reverse;
  }

  /* Pagina articulo */
  .pagArt__user {
    width: 100%;
  }

  /* Pagina agregar articulo */
  .formAgregar__quill {
    height: 25vh;
  }
}
